@media (min-width: 200px) and (max-width: 1920px) {
    .category h1 {
        font-size: calc(18px + (24 - 18) * ( (100vw - 200px) / ( 1920 - 200) ));
        font-weight: bold;
        color: #444444;
    }

    .nav-item a {
        font-size: calc(12px + (14 - 12) * ( (100vw - 200px) / ( 1920 - 200) ));
    }

    .logo img {
        max-width: calc(64px + (96 - 64) * ( (100vw - 200px) / ( 1920 - 200) ));
    }

    .cart img {
        max-width: calc(18px + (32 - 18) * ( (100vw - 200px) / ( 1920 - 200) ));
    }

    .category img {
        max-width: 100%; 
    }

    .category a {
        font-size: calc(12px + (14 - 12) * ( (100vw - 200px) / ( 1920 - 200) ));
    }
    .dropdown-content a {
        font-size: calc(12px + (14 - 12) * ( (100vw - 200px) / ( 1920 - 200) ));;  
    }
    .hits div {
        max-width: calc(480 + (1920 - 480) * ( (100vw - 200px) / ( 1920 - 200) ));
    }
    
    .hits img {
        max-width: 100%;
    }
    
    .hits a {
        color: #444444;
        font-size: calc(13px + (18 - 13) * ( (100vw - 200px) / ( 1920 - 200) ));
        font-weight: lighter;
    }
    .hits p {
        margin-top: calc(20px + (45 - 20) * ( (100vw - 200px) / ( 1920 - 200) ));
        margin-bottom: calc(20px + (45 - 20) * ( (100vw - 200px) / ( 1920 - 200) ));
    }
    
    .hits a:hover {
        text-shadow: 0px 3px 5px gray;
    }

    div .title {
        font-size: calc(18px + (24 - 18) * ( (100vw - 200px) / ( 1920 - 200) ));
        font-weight: bold;
        color: #444444;
        margin-bottom: calc(20px + (45 - 20) * ( (100vw - 200px) / ( 1920 - 200) ));
    }

    .category {
        margin-bottom: calc(20px + (45 - 20) * ( (100vw - 200px) / ( 1920 - 200) ));
    }
    
    .another img {
        max-width: 100%;
        opacity: 0.7;
    }
    
    .another img:hover {
        opacity: 1; 
    }

    .another {
        margin-bottom: calc(20px + (45 - 20) * ( (100vw - 200px) / ( 1920 - 200) ));
    }
    
    .advantages {
        background-color: #E8F5F0; 
        margin-bottom: calc(20px + (45 - 20) * ( (100vw - 200px) / ( 1920 - 200) ));
    }

    .advantages p {
        font-size: calc(16px + (24 - 16) * ( (100vw - 200px) / ( 1920 - 200) ));
        color: #001A72;
        font-weight: lighter; 
        margin-bottom: calc(18px + (32 - 18) * ( (100vw - 200px) / ( 1920 - 200) ));
    }

    .advantages img {
        max-width: calc(40px + (100 - 40) * ( (100vw - 200px) / ( 1920 - 200) ));
        margin-top: calc(18px + (32 - 18) * ( (100vw - 200px) / ( 1920 - 200) ));
    }
}   

* {
    font-family: 'Roboto', sans-serif;
    
}

/*Выпадающий список при наведении на категорию*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f8f9fa;}

.dropdown:hover .dropdown-content {display: block;}

/*Подчеркивания при наведении*/
.link-ease-in-out h1:after {
    background-color: gray; 
    display: block;
    content: "";
    height: 1px; 
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.link-ease-in-out h1:hover:after,
.link-ease-in-out h1:focus:after {
    width: 100%;
}




